<% if current_user != user %>
  <div class="user-follow-form">
    <%= form_with(url: followings_path, local: true) do |form| %>
      <div>
        <%= form.hidden_field :followed_id, value: user.id %>
        <div class="user-form-actions">
          <%= form.button :submit, class: 'text-gray rounded-circle mr-2 border d-block', disabled: current_user.follows?(user) do %>
            <%= fa_icon 'plus' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>