<div class="omniauth mb-4">
  <%= link_to "/auth/github", class: 'github-button text-dark border font-weight-bold px-5 py-3 rounded shadow-sm' do %>
    <%= image_tag 'github-icon.png', width: 40, height: 40, alt: 'Github icon' %>
    Sign in with Github
  <% end %>
</div>
<div class="omniauth">
  <%= link_to "/auth/twitter", class: 'github-button text-dark border font-weight-bold px-5 py-3 rounded shadow-sm' do %>
    <%= image_tag 'twitter-icon2.png', width: 35, height: 35, alt: 'Twitter icon' %>
    Sign in with Twitter
  <% end %>
</div>