<ul class="nav nav-tabs border-bottom text-uppercase font-weight-bold font-14">
  <li class="active p-4"><%= link_to 'Talks', root_path, class: 'pl-2 text-dark' %></li>
  <li class="p-4"><a href="#" class="text-muted">PHOTOS</a></li>
  <li class="p-4"><a href="#" class="text-muted">FOLLOWING</a></li>
  <li class="p-4"><a href="#" class="text-muted">FOLLOWERS</a></li>
  <li class="p-4"><a href="#" class="text-muted">FAVORITES</a></li>
  <li class="p-4"><a href="#" class="text-muted">LISTS</a></li>
</ul>