<!-- Top Nav -->
<nav class="top-nav d-flex justify-content-between align-items-center">
  <ul class="top-nav-left">
    <li class="top-nav-item"><i class="fas fa-twitter"></i>ss</li>
  </ul>

    <ul class="top-nav-right">
    <li class="top-nav-item"><i class="fab fa-twitter"></i>ss</li>
  </ul>
</nav>