<div class="sign-up-wrapper pt-5">
  <section class="sign-up border rounded shadow mx-auto my-5 p-4">
  <div class="container-fluid">
    <div class="row text-center">
      <h1 class="col-12 h3">Create a new User</h1>
      <p class="col-12">Please fill in all the required fields below</p>
      
      <%= render 'form', user: @user, button_text: 'Create account' %>

      <p class="text-center mx-auto mt-3">Already have an account? <%= link_to 'Sign_in', sign_in_path %></p>
    </div>
  </div>
  </section>
</div>
