<div class="pos-f-t mobile-nav-buttons side-nav-colors right rounded d-sm-none px-0">
  <div class="collapse pr-2" id="navbarToggleExternalContent3">
    <%= render 'opinions/main_aside', users: users %>
  </div>

  <button class="navbar-toggler mobile-button-who-to-follow" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent3" aria-controls="navbarToggleExternalContent3" aria-expanded="false" aria-label="Toggle navigation">
    <%= fa_icon 'user-plus', class: 'text-white d-block' %>
  </button>
</div>