<div class="pos-f-t mobile-nav-buttons side-nav-colors right rounded d-sm-none py-1 px-0">
  <div class="collapse pr-3" id="navbarToggleExternalContent2">
    <%= render 'opinions/main_aside', users: users %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent2" aria-controls="navbarToggleExternalContent2" aria-expanded="false" aria-label="Toggle navigation">
    <%= fa_icon 'user-plus', class: 'text-white d-block' %>
  </button>
</div>