/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import 'variables';

img {
  object-fit: cover;
}

.font-14 {
  font-size: 14px;
}

.font-12 {
  font-size: 12px;
}

.font-10 {
  font-size: 10px;
}

.alert-dismissable {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 5;
}

.avatar-big {
  width: 50px;
  height: 50px;
}

.aside-left {
  color: lighten($side-nav-text-color, 40%);
  background-color: $side-nav-color;
  position: fixed;
  top: 0;
  bottom: 0;

  .logged-user-social-count,
  a {
    color: lighten($side-nav-text-color, 60%);
  }

  a:hover {
    color: lighten($side-nav-text-color, 40%);
    text-decoration: none;
  }
}

.top-nav {
  background-color: $top-nav-color;
}
