<%= content_tag(:div, class: "alert alert-success alert-dismissable text-center rounded mb-0 shadow-lg font-weight-bold") do %>
    <%= value %>
    <button type="button" class="close ml-3 text-danger h3" data-dismiss="alert" aria-hidden="true">&times;</button>
<% end %>